<dialog id="dialogLoginModal">
    <form method="dialog">
        <h2>Login</h2>
        <label>
            Usuário:
            <input type="text" name="usuario" required />
        </label>
        <br />
        <label>
            Senha:
            <input type="password" name="senha" required />
        </label>
        <br />
        <menu>
            <button type="submit">Entrar</button>
            <button type="button" id="botaoCancelar">Cancelar</button>
        </menu>
    </form>
</dialog>