<header class="topbar">
    <div class="logo">🐾 ACAPRA</div>
    <nav class="menu">
        <a href="#">Doações</a>
        <a href="#">Adoção</a>
        <a href="#">Quem somos</a>
        <a href="#">Contato</a>
        <div class="social">
            <a href="#"><img src="https://img.icons8.com/ios-filled/20/twitter--v1.png" alt="twitter" /></a>
            <a href="#"><img src="https://img.icons8.com/ios-filled/20/facebook-new.png" alt="facebook" /></a>
            <a href="#"><img src="https://img.icons8.com/ios-filled/20/instagram-new.png" alt="instagram" /></a>
        </div>
    </nav>
</header>