<header class="barra-topo">
    <div class="logo">🐾 ACAPRA</div>
    <nav class="menu">
        <a href="/404">Doações</a>
        <a href="/animais">Adoção</a>
        <a href="/404">Quem somos</a>
        <a href="/404">Contato</a>
        <div class="redes-sociais">
            <a href="#"><img src="https://img.icons8.com/ios-filled/20/twitter--v1.png" alt="twitter" /></a>
            <a href="#"><img src="https://img.icons8.com/ios-filled/20/facebook-new.png" alt="facebook" /></a>
            <a href="#"><img src="https://img.icons8.com/ios-filled/20/instagram-new.png" alt="instagram" /></a>
        </div>
        <button id="btnEntrar" class="btn-entrar">Login</button>
    </nav>
</header>